{% extends 'base.html.twig' %}

{% block title %}Coaching en entreprise{% endblock %}

{% block body %}
<script>
  AOS.init();
</script>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <div data-aos="zoom-in">
      <div style=" background-color:#ee9d8b; padding: 20px; border-radius: 50px; margin-top: 50px; margin-bottom: 50px;">
        <h1 style="text-align: center; margin-top: 0; margin-bottom: 20px;">Coaching en entreprise</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer risus purus, semper at tellus at, facilisis mollis lorem. In venenatis sit amet tortor vitae consectetur. Nunc ultricies leo egestas, pellentesque turpis sed, fringilla libero. Donec at nisi tellus. Etiam bibendum massa risus, ac dictum mauris blandit hendrerit. Fusce feugiat semper mollis. Donec imperdiet lacinia purus, ut interdum elit sollicitudin vitae. Suspendisse porttitor egestas mauris vitae dignissim. In hac habitasse platea dictumst. Nunc auctor velit pretium lacus vehicula fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce finibus massa felis, in mattis erat vestibulum eget. Aliquam sit amet ultricies felis. Ut euismod sagittis pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras malesuada felis at metus hendrerit, et malesuada magna bibendum.
        Praesent vel hendrerit enim, sit amet pretium lorem. Integer egestas mauris nec ex auctor, sed luctus lectus faucibus. Curabitur sit amet ultrices sem, a mollis turpis. Morbi arcu tellus, sagittis sed tempus at, consectetur nec dolor. Donec ac tincidunt eros, et venenatis nisi. Nullam maximus tortor at neque feugiat varius. Phasellus laoreet neque vel faucibus lobortis. Vestibulum tincidunt, nunc at commodo varius, purus nisi commodo elit, ut ullamcorper nulla justo et magna. Etiam condimentum nisl eu dui efficitur pellentesque. Nam feugiat neque eu magna malesuada, sit amet rutrum neque elementum.
        Integer luctus efficitur enim sed bibendum. Duis in purus mauris. Aliquam eget tellus eu ante tincidunt vehicula. Donec pharetra ex dui, quis fermentum tellus commodo eget. Proin euismod, ante et volutpat egestas, odio lorem blandit tortor, et euismod diam tellus non ante. Proin cursus purus est, ut sodales ante tincidunt in. Pellentesque dapibus fringilla cursus. Sed accumsan ultricies quam cursus euismod. Integer consectetur dignissim tellus mattis posuere. Vivamus dictum sollicitudin neque sit amet tincidunt. Nunc vitae consequat velit.
        Morbi elementum metus arcu, sed fermentum mi sodales a. Duis at erat lorem. Nulla eleifend semper velit eget rutrum. Nunc eu ex id quam eleifend tristique vel sit amet ex. Praesent volutpat dui id ex malesuada, sit amet dictum felis gravida. Maecenas diam est, condimentum eget dolor pulvinar, euismod euismod sapien. Sed id nisl tempor, ullamcorper tellus eu, tempor justo. Proin vel metus posuere, venenatis sem eu, auctor eros. Nullam pulvinar cursus pretium. Sed nunc dolor, condimentum a vulputate ac, accumsan non nibh. Aenean ultrices finibus maximus. Sed eget felis eget quam imperdiet mattis. Duis fringilla nisl et justo fermentum euismod. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel lorem et lectus posuere rhoncus at in est.
        Integer ornare enim eu tristique tempor. Vestibulum nec dictum erat. Sed imperdiet, ante vitae pulvinar vestibulum, urna massa porttitor ligula, ut lobortis ante arcu nec urna. Sed venenatis ac lorem at dapibus. Aenean ut varius mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus mi lacus, interdum sit amet felis vitae, sollicitudin vulputate nisl. Morbi tortor nunc, accumsan et turpis quis, vulputate pellentesque felis. Etiam consectetur at lorem eget iaculis. Duis lobortis purus tortor, nec mollis lacus pharetra nec. Integer ac egestas justo. Aenean auctor bibendum sapien consequat sollicitudin. Donec lectus diam, lobortis a est non, gravida laoreet mauris. Proin ornare leo enim, eget imperdiet nunc aliquet sed. Ut ultricies, libero non ultrices ultricies, nibh massa feugiat tortor, in dapibus turpis ipsum blandit felis. Etiam lacinia pellentesque quam, vel blandit nisl.
        </p>
      </div>
    </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<div class="row justify-content-center" style="margin-bottom: 50px;"></div>
{% endblock %}
