{% extends 'base.html.twig' %}

{% block title %}Vérification réussie{% endblock %}

{% block body %}
    <h1>Votre compte a été vérifié avec succès !</h1>
    <p>Vous pouvez maintenant vous connecter à votre compte.</p>
    <a href="{{ path('app_login') }}">Se connecter</a>
{% endblock %}
