{% extends 'base.html.twig' %}

{% block title %}Mention Légales{% endblock %}

{% block body %}
 <div class="containerMentionLegale">
    <h1 style="text-center">Mentions Légales</h1>
    <p>En vigueur au 15/06/2024.<br>
      Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs, ci-après l' »Utilisateur«, du site https://sensations-coaching.com/, ci-après le « Site«, les présentes mentions légales.
<br>
<br>
      La connexion et la navigation sur le Site par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.
    </p>

    <p><b>Éditeur du site :</b></p>
    <ul>
      <li>Dénomination sociale : Sensations Coaching</li>
      <li>Forme juridique : Entreprise Individuelle</li>
      <li>Adresse du siège social : 124, chemin des Pratz, 74350 CERCIER</li>
      <li>Téléphone : 0652673397</li>
      <li>E-mail : flavie.c@sensations-coaching.com</li>
      <li>Numéro d’inscription au RCS : 983223777</li>
    </ul>

    <p><b>Directeur de la publication :</b><br>
      Flavie Carette
    </p>

    <p><b>Hébergeur :</b><br>
      Nom : IONOS SARL<br>
      Adresse : 7, place de la Gare, BP 70109, 57201 Sarreguemines Cedex<br>
      SIRET : 431 303 775 000 16<br>
      Téléphone : +33 9 70 80 89 11
    </p>

    <p><b>Propriété intellectuelle :</b><br>
      Tous les contenus présents sur le site (textes, images, vidéos, logos, etc.) sont la propriété exclusive de Sensations Coaching, sauf mention contraire. Toute reproduction, distribution, modification, adaptation, retransmission ou publication de ces différents éléments est strictement interdite sans l'accord exprès par écrit de Sensations Coaching.
    </p>

    <p><b>Données personnelles :</b><br>
      Les informations recueillies font l’objet d’un traitement informatique destiné à répondre aux demandes des utilisateurs et à améliorer la qualité des services proposés. Conformément à la loi « informatique et libertés », vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant à flavie.c@sensations-coaching.com. Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.
    </p>

    <p><b>Cookies :</b><br>
      Le site utilise des cookies pour améliorer votre expérience de navigation. Vous pouvez configurer votre navigateur pour refuser les cookies. Cependant, le refus des cookies peut entraîner l'impossibilité d'accéder à certaines fonctionnalités du site.
    </p>

    <p>Pour toute question relative aux mentions légales du site, vous pouvez nous contacter à l'adresse suivante : flavie.c@sensations-coaching.com.</p>
  </div>
{% endblock %}
