* {
    margin: 0;
    padding: 0;
  }
  .abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  .noto-serif {
    font-family: "Noto Serif Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  .quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .btn-blue {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 5px;
    color: #182C4A;
  }
  .center-text {
    text-align: center;
  }
  .shift-right {
    margin-left: 200px;
    margin-top: 20px;
    font-size: 25px;
  }
  .mesaccompagnements
  {
    padding-bottom: 150px;
    padding-top: 250px;
    background: linear-gradient(to right, #ffefd8, #ffffff);
  }
  
  .mesaccompagnements h1
  {
    margin-top: -275px;
  }
  
  .text-container {
    flex: 1;
    text-align: center;
  }
  .custom-navbar {
    background-color: #ffefd7 !important;
  }
  h1 {
    color: #2a405b;
    font-family: 'Abril Fatface', cursive;
    font-size: 55px;
    margin: 0;
  }
  .image-container01 {
    width: 200px;
    margin-right: 180px;
    margin-top: -100px;
  }
  .CSPA {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .problems {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  .problem-item {
    padding-top: 50px;
    grid-column: 4 / span 10;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .problem-item img {
    width: 50px;
    margin-right: 75px; 
  }
  
  .problem-item p {
    font-family: "Noto Serif Display", serif;
    font-size: 20px;
    color: #172d4b; 
  }
  
  .problems02 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
    padding: 20px;
   
  }
  
  .problem02-item {
    padding-top: 50px;
    grid-column: 1/ span 6;
    display: flex;
    margin-left: -55px ;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .problem02-item img {
    width: 50px;
    margin-right: 75px;
  }
  .problem02-item p {
    font-family: "Noto Serif Display", serif;
    font-size: 20px;
    color: #172d4b; 
  }
  .CSPA h3 {
    color: white;
    margin: 0 300px;
    border-radius: 10px;
    padding: 20px 30px;
    white-space: nowrap;
    font-size: 25px;
  }
  .CSPA h3{
    border-radius: 10px;
    background-color: #f1902f;
    padding: 15px 25px;
  }
  
  .right-section {
    display: flex;
    flex-direction: column;
  }
  .right-section h3 {
    border-radius: 10px;
    background-color: #DD3E1A;
    padding: 15px 25px;
    margin: 0; /* Supprime toutes les marges */
    align-self: flex-start;
  }
  .centered-content
  {
    margin-top: -100px;
  }
  
  .boucleRouge img {
    height: 400px;
   margin-top: -75px;
    margin-left: 200px;
  }
  .boucleRouge {
    position: relative;
  }
  .boucleRouge p {
    font-family: Abril Fatface;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
  
    color: #172d4b;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
  }
  .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
  }
  .navbar-nav .dropdown-menu .dropdown-item:hover {
    color: #FF9932;
    background-color: #ffffff;
  }
  .navbar-nav .dropdown-toggle::after {
    display: none;
  }
  .custom-navbar {
    background-color: #ffefd7 !important;
}
.bg-light
{
  background-color: #ffefd7 !important;
}
  .nav-link:hover {
    color: #DE3E1A;
  }
  .btn-custom {
    background-color: #1A6A8D;
    color: white;
  }
  .btn-custom:hover {
    color: black;
  }
  .footer {
    overflow: hidden;
    bottom: 0;
  }
  .card-flip {
    width: 325px;
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.9s;
    cursor: pointer;
  }
  .card-flip:hover {
    transform: rotateY(180deg);
  }
  .card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  .card-back {
    transform: rotateY(180deg);
  }
  .eveiller .card-face.card-front {
    background-color: #182C4A;
    color: white;
  }
  .eveiller .card-face.card-back {
    background-color: #182C4A;
    color: white;
  }
  .booster .card-face.card-front {
    background-color: #DE3C19;
    color: white;
  }
  .booster .card-face.card-back {
    background-color: #DE3C19;
    color: white;
  }
  .inspirer .card-face.card-front {
    background-color: #FF9932;
    color:white;
  }
  .inspirer .card-face.card-back {
    background-color: #FF9932;
    color: white;
  }
  .orchestrer .card-face.card-front {
    background-color: #1A6A8D;
    color: white;
  }
  .orchestrer .card-face.card-back {
    background-color: #1A6A8D;
    color: white;
  }
  .card-flip .card-back h5 {
    font-size: 27px;
    margin-top: 20px;
    margin-left: 15px;
  }
  .card-flip .card-back p {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
  }
  .inscription {
    margin-top: 25px;
    background-color: #182C4A;
    text-align: center;
    border-radius: 25px;
    color: white;
  }
  .btn:hover {
    opacity: 0.5;
  }
  .flcquisuisje 
  {
    margin-top: -300px;
  }
  
  .pied {
    background: linear-gradient(to right, #ffefd8, #ffffff);
  }
  
  .pied h3 {
    text-align: center;
    color: #2a405b;
    font-family: 'Abril Fatface', cursive;
    font-size: 55px;
  }
  .imagetorsader img {
    margin-left: 1250px;
    width: 200px;
  }
  .couronne {
    margin-left: 550px;
    width: 450px!important;
    height: 180px;
    padding-left: 15px;
    border-radius: 25px;
    background-color: #74a1b2;
    color: white;
    margin-bottom: 150px;
    align-items: center; /* Centrez verticalement le contenu */
  }
  
  .couronne p {
    font-size: 20px; /* Taille de police désirée */
  }
  .couronne-img {
    width: 150px;
    height: auto; 
    margin-left: -90px;
    margin-top: -70px;
  }
  .etoile {
    margin-left: 950px;
    width: 450px!important;
    height: 180px;
    padding-left: 15px ;
    border-radius: 25px;
    background-color: #ea8870;
    color: white;
    margin-bottom: 100px;
  }
  .etoile-img {
    width: 100px;
    height: auto; 
    margin-left: -70px;
    margin-top: -55px;
  }
  .etoile p {
    font-size: 20px; 
  }
  .eclair {
    margin-left: 550px;
    width: 450px;
    height: 180px;
    padding-left: 15px;
    border-radius: 25px;
    background-color: #3E4E65;
    color: white;
    margin-bottom: 100px;
    align-items: center; 
  }
  .eclair-img {
    width: 100px;
    height: auto; 
    margin-left: -50px;
    margin-top: -85px;
  }
  .eclair p {
    font-size: 20px;
  }
  .diamant {
    margin-left: 950px;
    width: 450px;
    height: 180px;
    padding-left: 15px ;
    border-radius: 25px;
    background-color: #f6b97b;
    color: white;
    margin-bottom: 100px;
  }
  .diamant-img {
    width: 100px;
    height: auto; 
    margin-left: -70px;
    margin-top: -55px;
  }
  .diamant p {
    font-size: 20px;
  }
  .pointetoile {
    margin-left: 550px;
    width: 450px;
    height: 180px;
    padding-left: 15px;
    border-radius: 25px;
    background-color: #74a0af;
    color: white;
    margin-bottom: 100px;
    align-items: center; 
  }
  .pointetoile-img {
    width: 100px;
    height: auto; 
    margin-left: -50px;
    margin-top: -85px;
  }
  .pointetoile p {
    margin-top: 10px;
    font-size: 20px;
  }
  .cible {
    margin-left: 950px;
    width: 450px;
    height: 180px;
    padding-left: 15px ;
    border-radius: 25px;
    background-color: #ea8870;
    color: white;
    margin-bottom: 100px;
  }
  .cible-img {
    width: 100px;
    height: auto; 
    margin-left: -70px;
    margin-top: -55px;
  }
  .cible p {
    font-size: 20px;
  }
  .pied h2 {
    text-align: center;
  }
  .excellence h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .tacheorange img{
    position: relative;
    margin-top: -200px;
    margin-left:50
  }
  .tacheorange55 img{
    position: relative;
    margin-top: -200px;
    margin-left:82%;
  }
  .rdv {
    text-align: center;
  }
  .rdv button {
    position: relative;
    margin-top: 25px;
    font-family: Abril Fatface;
    color: white; 
    background-color:#1c6a8d;
    padding-top: 15px;
    padding-bottom:15px ;
    padding-left:25px ;
    padding-right:25px ;
    border-radius: 50px; 
    font-size: 40px;
  }
  .flcquisuisje img 
  {
    width: 100%;
  }
  
  .flaviesoleil
  {
    margin-top: -1000px;
  }
  .flaviesoleil img
  {
    margin-left:10%;
    width: 30%;
  }
  .flcphoto img {
    margin-top:-1400px;
    width: 600px;
    margin-left: 150px;
  }
  .flcphoto p { 
    position: relative;
    margin-left: 800px;
    margin-top: -800px;
    background-color:#feeed7;
    width: 750px;
    padding: 10px;
    border-radius: 25px;
    font-size: 25px;
  }
  .flcphoto button {
    position: relative;
    margin-top: -85px;
    margin-left: 1250px;
    text-align: center;
    background-color: #172d4b; 
    color: white; 
    font-size: 30px; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  .flcphoto button:hover {
    background-color: #0e1f34; 
    transform: translateY(-5px); 
  }
  .bulle h3 {
    margin-top: -50px;
    text-align: center;
    font-size: 75px;
    font-family: Abril Fatface;
    color: #172d4b;
  }
  .bulle p {
    margin-top: -600px;
    padding-left: 50px;
    margin-left: auto; 
    margin-right: auto;
    width: 650px;
    font-size: 25px;
    text-align: center; 
  }
  .bulle img {
    display: block; /* Permet de centrer l'image */
    margin: 0 auto; /* Centre l'image horizontalement */
  
    width: 800px;
  }
  .ronblounet {
    margin-top: -500px;
    margin-left:-250px ;
    width: 400px;
  }
  .imagetorsader01 img {
    margin-left: 1200px;
    width: 300px;
  }
  .imagetorsader01 {
    text-align: center;
  }
  .imagetorsader01 button {
    background-color: #1c6a8d;
    margin-top: 45px;
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
  }
  .imagetorsader01 p {
    font-size: 50px;
  }
  .flctexte {
    margin-left: 1050px;
    margin-top: -500px;
    font-family: 'Abril Fatface';
    color: #172d4b;
    width: 550px;
    text-align: center;
  }
  .flctexte p {
    margin-top: 50px;
    font-family: 'Quicksand';
    color: black;
    font-size: 20px;
  }
  .MonHistoire h2 {
    text-align: center;
    font-family: 'Abril Fatface';
    color: #1C6A8D;
    font-size: 75px;
    margin-top: -75px;
  }
  .Historique h3 {
    position: relative; 
    z-index: 2;
    margin-top: 100px;
    margin-left: 250px;
    padding: 10px;
    text-align: center;
    width: 500px;
    color: white;
    font-size: 45px;
    border-radius: 10px;
    background-color:#DD3E1A;
  }
  .Historique .resilience-sensibilite {
    margin-left: 900px;
    width: 700px;
    background-color: #F1902F;
  }
  .Historique .etoileorangeclair {
    position: relative;
    margin-top: -100px;
    margin-left: 300px;
    width: 400px;
  }
  .Historique p {
    margin-top: -400px;
    position: relative; 
    margin-left: 350px;
    text-align: center;
    width: 500px;
    font-size: 20px;
  }
  .Historique .cerveauinge {
    margin-top: -700px;
    margin-left: 1200px;
    width: 500px;
  }
  .resilience-sensibilitetexte {
    position: relative;
    z-index: 2;
    margin-left: 700px;
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
    width: 800px;
  }
  .damerouge {
    position: relative;
    margin-left: 250px;
    margin-top: -550px;
    width: 700px;
  }
  .Aventureetincertitude {
    position: relative; 
    z-index: 2;
    margin-top: 100px;
    margin-left: 250px;
    padding: 10px;
    text-align: center;
    width: 700px;
    color: white;
    font-size: 45px;
    border-radius: 10px;
    background-color:#1B6A8D ;
    color:white;
  }
  .Aventureetincertitudetexte {
    position: relative;
    z-index: 2;
    margin-left:150px;
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
    width: 800px;
  }
  .frigo {
    position: relative;
    margin-left: 900px;
    margin-top: -550px;
    width: 700px;
  }
  .PuissanceElandevie {
    position: relative; 
    z-index: 2;
    margin-top: 100px;
    margin-left: 250px;
    padding: 10px;
    text-align: center;
    width: 700px;
    color: white;
    font-size: 45px;
    border-radius: 10px;
    margin-left: 900px;
    width: 700px;
    background-color: #172D4B;
  }
  .eclairrouge {
      position: relative;
      margin-left: 750px;
      margin-top: -300px;
      width: 200px;
    }
  .PuissanceElandevieTexte {
    text-align: center;
    margin-left:800px;
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
    width: 600px;
  }
  .soleiletlune {
    margin-left: 200px;
    margin-top: -650px;
    width: 500px;
    margin-bottom: 250px;
  }
  .Pourquoimechoisir {
    background: linear-gradient(to right, #ffefd8, #ffffff);
    position: relative;
    padding-top: 50px; 
    text-align: center; 
    width: 100%; 
    box-sizing: border-box;
  }
  .Pourquoimechoisir h3 {
    color: #1C6A8D;
    font-family: 'Abril Fatface';
    font-size: 50px;
    margin-top: -75px; 
  }
  .Pourquoimechoisir p {
    text-align: center;
    font-size: 25px;
    max-width: 1000px;
    margin: 0 auto; 
  }
  .Pourquoimechoisir .image-container01 {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: center; 
    gap: 100px; 
    margin-top: 20px; 
    width: 100%; 
    box-sizing: border-box; 
  }
  .Pourquoimechoisir .image-container01 .image-item{
    text-align: center;
    margin-top: 20px;
  }
  .Pourquoimechoisir .image-container01 .image-item h4 {
    font-size: 35px;
    margin-top: -10px;
    background-color: #1B3C65;
    color: white;
    border-radius: 15px;
    width: 250px;
    padding: 10px;
  }
  .Pourquoimechoisir .image-container01 .image-item p {
    color:#172D4B; 
    font-family:quicksand;
    margin-top: 25px;
    font-size: 20px;
    width: 250px;
  }
  .Pourquoimechoisir .image-container01 img {
    margin-top: 50px;
    width: 250px; 
    height: auto; 
  }
  .orange-background {
    margin-top: 50px;
    position: relative;
    display: inline-block;
    background-color: #F1902F;
    color: white;
    padding: 10px;
    border-radius: 15px;
  }
  .multiwork {
    width: 500px;
    margin-right: 500px;
    margin-top: -200px;
   }
  .demarches {
    margin-top:30px; 
    font-size:25px
  }
  .cemodeledenergie {
    margin-top:50px; 
    margin-left:1000px; 
    width:600px;
  }
  .jaijustechaque {
    margin-top:-200px;
     margin-left:1000px; 
     width:600px;
  }
  .lorsdecoaching {
    margin-top: 100px;
  }
  .mapromesseunepuissante h2 {
    color: white;
    background-color:#1B6A8D ;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    margin-right: 600px;
  }
  .mapromesseunepuissante {
    width: 100%;
    text-align: center;
    }
  .mapromesseunepuissante {
      width: 100%;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  .item {
      display: flex;
      align-items: center;
      margin-bottom: 150px;
    }
  .item .title {
      margin-right: 200px;
      margin-left: 200px;
    }
    .item.right .title {
      order: 2;
    }
  .title {
      font-size: 30px;
      width: 300px;
      padding: 10px;
      border-radius: 10px;
    }
  .text {
      width: 700px;
    }
  .parcoursetdentologie2024 {
      margin-left: 1250px;
      margin-top: -1200px;
    }
    .parcoursetdentologie2023 {
      margin-right: 1000px;
    }
    .parcoursetdentologie202152023 {
      margin-left: 1250px;
      margin-top: 150px;
    }
    .parcoursetdentologie20215 {
      margin-right: 1000px;
      margin-top: 100px;
    }
  .Deantologiequementparlant {
    background: linear-gradient(to right, #ffefd8, #ffffff);
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .Deantologiequementparlant h3 {
    text-align: center;
    font-size: 30px;
  }
  .content-wrapper {
    width: 1500px;
  }
  .tacheorange05 img {
    position: absolute;
    margin-left: 41.8%;
    transform: translate(-50%, -50%);
    width: 300px;
    max-width: 100%;
  }
  .Deantologiequementparlant h3 {
    margin-top:70px;
    margin-bottom: 100px; 
  }
  .Deantologiequementparlant ul {
    font-size: 25px;
  }
  .Deantologiequementparlant ul li {
    padding-bottom: 50px;
  } 
  .containerMentionLegale {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
  }
  .containerMentionLegale h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  .pieddepagequisuisje01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .pieddepagequisuisje01 h2 {
    margin-top: 45px;
    margin-bottom: 20px;
    text-align: center;
    font-size:45px;
  }
  .pieddepagequisuisje01 a {
    display: inline-block;
    font-size: 30px;
    font-family: 'Abril Fatface';
    text-align: center;
    font-size:40px;
    background-color: #1C6A8D;
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 45px; 
    margin-top: 20px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease; 
    margin-bottom: 40px;
  }
  .pieddepagequisuisje01 a:hover {
    background-color: #145375; 
  }
  .backgroundcoachingdequipe img {
    position: relative;
    max-height: 750px;
    width: 100%;
    object-fit: cover;
  }
  .backgroundcoachingdequipe01 img {
    position: absolute;
    width: 450px;
    margin-top: -650px;
    margin-left: 400px;
  }
  .backgroundcoachingdequipe02 img {
    position: absolute;
    margin-top: -725px;
    width: 200px;
    margin-left: 700px;
  }
  .backgroundcoachingdequipe02 h1 {
    margin-top: -550px;
    margin-left: 1000px;
    width: 600px;
    position:absolute;
  }
  .backgroundcoachingdequipe02 p {
    font-family: 'Quicksand';
    position:absolute;
    color:#DD3E1A ;
    font-size: 26px;
    margin-top: -400px;
    margin-left: 1000px;
    text-align: right;
  }
  .caffouillagedanslasurface h2 {
    position: relative;
    margin-top: -25px;
    text-align: center;
    margin-bottom: 70px;
    color: #2a405b;
    font-size: 45px;
    font-family: 'Abril Fatface';
  }
  .caffouillagedanslasurface {
    width: 50%;
    margin: auto;
  }
  .caffouillagedanslasurface img {
    width: 40px;
    float: left; 
    margin-top: 15px;
    margin-right: 15px;
    margin-right: 10px; 
  }
  .caffouillagedanslasurface p {
    margin-bottom: 45px; 
    font-size: 25px;
    overflow: hidden;
    vertical-align: middle;
    margin-left: 100px;
  }
  .caffouillagedanslasurface01 h4 {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 40px;
  }
  .caffouillagedanslasurface01 img {
    width: 15%;
    margin-left: 70%;
    transform: rotate(340deg);
  }
  .caffouillagedanslasurface01 h3 {
    background-color:#F1902F;
    color: white;
    margin: auto;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    font-size: 35px;
  }
  .eveiller05 img {
    margin-top: 50px;
    margin-left: 10%;
    width: 400px;
  }
  .eveiller05 h2 {
    margin-left: 500px;
    margin-top: -200px;
    font-size: 45px;
    color:#172D4B ;
    font-family: 'Abril Fatface';
  }
  .eveiller05 h4 {
    margin-left: 500px;
    margin-top: 10px;
    color: #172D4B;
    font-family: 'Quicksand';
  }
  .eveiller05 p {
    margin-left: 500px;
    color: #1E3451;
    width: 500px;
    font-size: 20px;
    margin-top: 50px;
  }
  .eveiller06 img {
    width: 350px;
  }
  .liberer05 img {
    margin-top: 50px;
    margin-left: 1050px;
    width: 400px;
  }
  .liberer05 h2{
    position: relative;
    margin-left: 1200px;
    margin-top: -250px;
    font-size: 45px;
    color:#F1902F ;
    font-family: 'Abril Fatface';
  }
  .liberer05 h4 {
    position: relative;
    margin-left:1200px;
    margin-top: 10px;
    color: #F1902F;
    font-family: 'Quicksand';
  }
  .liberer05 p {
    width: 500px;
    font-size: 20px;
    margin-top: 50px;
    width: 400px;
    margin-left: 1200px;
    color: black;
    margin-bottom: 50px;
  }
  .Orchestrer05 img {
    margin-top: 50px;
    margin-left: 10%;
    width: 400px;
  }
  .Orchestrer05 h2 {
    margin-left: 500px;
    margin-top: -200px;
    font-size: 45px;
    color:#172D4B ;
    font-family: 'Abril Fatface';
  }
  .Orchestrer05 h4 {
    margin-left: 500px;
    margin-top: 10px;
    color: #172D4B;
    font-family: 'Quicksand';
  }
  .Orchestrer05 p  {
    margin-left: 500px;
    color: #1E3451;
    width: 500px;
    font-size: 20px;
    margin-top: 50px;
  }
  .BOOSTER05 img {
    margin-top: 50px;
    margin-left: 1050px;
    width: 400px;
  }
  .BOOSTER05 h2 {
    position: relative;
    margin-left: 1250px;
    margin-top: -150px;
    font-size: 45px;
    color:#DD3E1A;
    font-family: 'Abril Fatface';
  }
  .BOOSTER05 h4 {
    position: relative;
    margin-left:1250px;
    margin-top: 10px;
    color:#DD3E1A;
    font-family: 'Quicksand';
  }
  .BOOSTER05 p {
    width: 500px;
    font-size: 20px;
    margin-top: 100px;
    width: 400px;
    margin-left: 1200px;
    color: black;
    margin-bottom: 50px;
  }
  .carrequibougepourflavie img {
    width: 500px;
    margin-left: -250px;
  }
  .carrequibougepourflavie h2 {
    text-align: center;
    font-size: 50px;
  }
  .pieddepagequisuisje0105 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -350px;
    justify-content: center;
  }
  .pieddepagequisuisje0105 h2 {
    margin-top: 120px;
    margin-bottom: 20px;
    text-align: center;
    font-size:55px;
    font-family: 'Abril Fatface';
    color: #145375;
  }
  .pieddepagequisuisje0105 a {
    font-size: 30px;
    font-family: 'Abril Fatface';
    font-size:40px;
    background-color: #1C6A8D;
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 45px; 
    margin-top: 20px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease; 
    margin-bottom: 40px;
  }
  .pieddepagequisuisje0105 a:hover {
    background-color: #145375; 
  }
  .deroulcoaching {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .card-flip:hover .card-inner {
    transform: rotateY(180deg);
  }
  .card-front01, .card-back01 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .card-back01 {
    transform: rotateY(180deg);
  }
  .defisobjectifs01, .diagnostic01, .coachingcollectif01, .bilanetsuivi01 {
    width: 105%;
    height: 100%;
    padding: 20px;
    color: white;
  }
  .defisobjectifs01 {
    background-color: #003366;
  }
  .diagnostic01 {
    background-color: #cc3300;
  }
  .coachingcollectif01 {
    background-color: #ff9933;
    margin-top: 10px;
   
  }
  .bilanetsuivi01 {
    background-color: #1a6a8d;
    margin-top: 10px;
  }
  .defisobjectifs01 h2 {
    position: absolute; 
    bottom: 0; 
    right: 25px; 
    margin-bottom: 25px;
  }
  .diagnostic01 h2 {
    position: absolute; 
    bottom: 0; 
    left: 25px; 
    margin-bottom: 25px;
  }
  .coachingcollectif01 h2 {
    position: absolute; 
    top: 25px; 
    right: 25px; 
    margin-right: 10px; 
    margin-top: 10px;
  }
  .bilanetsuivi01 h2 {
    position: absolute; 
    top: 25px; 
    left: 25px; 
    margin-right: 10px; 
    margin-top: 10px;
  }
  .defisobjectifs01 p, .diagnostic01 p, .coachingcollectif01 p, .bilanetsuivi01 p {
    margin: 0;
  }
  .femmetriangle {
    margin-left: 25%;
    overflow: hidden;
    margin-top: 100px;
  }
  .femmetriangle img {
    float: left; 
    margin-right: 75px; 
    width: 300px;
  }
  .femmetriangle .content {
    overflow: hidden; /* Pour éviter que le contenu ne chevauche l'image */
  }
  .femmetriangle p 
  {
    margin-top: 75px;
    margin-bottom: -40px;
  }
  .femmetriangle ul {
  margin-top: 5%;
  }
  
  .piedinverser h2 {
    padding-top: 45px;
    text-align: center;
  }
  .piedinversercontainer img {
    transform: rotate(180deg);
    width: 300px;
  
    clip-path: inset(0 0 0 25%);
  }
  .piedinverser a {
    position:absolute;
    text-decoration: none;
    color:white;
    margin-top: -250px;
    margin-left: 33%;
    background-color: #1C6A8D;
    font-family: 'Abril Fatface';
    font-size: 50px;
    padding: 20px 30px; 
    border-radius: 50px;
  }
  .flcphoto01 {
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-bottom: 60px;
  }
  .flcphoto01 img {
    width: 600px;
    margin-left: 150px;
  }
  .text-container01 {
    background-color: #feeed7;
    width: 750px;
    padding: 20px;
    border-radius: 25px;
    font-size: 25px;
  }
  .flcphoto01 button {
    position: absolute;
    margin-left: 32%;
    margin-top: 2px;
    text-align: center;
    background-color: #172d4b; 
    color: white; 
    font-size: 30px; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  .flechounetterouge05 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  .flechounetterouge05 h4 {
    width: 50%;
    border-radius: 15px;
    margin-top: -25px;
    text-align: center;
    padding: 20px;
    margin-bottom: 70px;
    font-size: 35px;
    font-family: 'Abril Fatface';
    background-color: #FFEFD7;
  }
  .flechounetterouge05 img {
    margin-left: 300px;
    width: 300px;
  }
  .backgroundcoachingdequipe03 img {
    position: absolute;
    width: 500px;
    margin-top: -650px;
    margin-left: 300px;
  }
  .backgroundcoachingdequipe03 h1 {
    position:absolute;
    margin-top: -550px;
    margin-left: 900px;
    width: 700px;
    text-align: center;
  }
  .backgroundcoachingdequipe03 p {
    font-family: 'Quicksand';
    position:absolute;
    color:#DD3E1A ;
    font-size: 26px;
    margin-top: -400px;
    margin-left: 1000px;
    text-align: right;
  }
  .lesportdehautniveau {
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .lesportdehautniveau p {
    font-size: 23px;
    text-align: center;
  }
  .lesportdehautniveau05 img {
    position: relative;
    width: 250px;
    margin-left: 100%;
    margin-top: -250px;
  }
  .vousetesportif
  {
    overflow: hidden;
  }
  .vousetesportif h1 {
    margin-top: 50px;
    text-align: center;
  }
  .vousetesportif img 
  {
    margin-top: 100px;
    position: relative;
    width: 750px;
    margin-left: -200px;
  }
  .vousetesportif01 {
    display: flex;
    justify-content: space-between;
    margin-top: -400px;
    margin-left: 160px;
  }
  .image-container {
    position: relative;
    width: 30%; 
    margin: 2% 2%;
  }
  .image-container img {
    width: 70%;
    height: auto;
    border-radius: 20px;
  }
  .image-container p {
    position: absolute;
    bottom: 33%;
    left: 15%;
    font-size: 45px;
    color: white;
    font-family: 'Quicksand';
  }
  .joueurshautniveau h3 {
    border-radius: 25px;
    margin-top: 100px;
    margin-left: 100px;
    background-color: #DD3E1A;
    color: white;
    font-family: 'Quicksand';
    padding: 15px;
    width: 600px;
    text-align: center;
  }
  .joueurshautniveau p {
    margin: auto;
    margin-top: 50px;
    font-size: 20px;
    width: 800px;
  }
  .joueurshautniveau h4 
  {
    margin-top: 70px;
    margin-bottom: 45px;
    margin-left: 33%;
    color:#DD3E1A ;
    font-size: 30px;
  }
  .joueurshautniveau li
  {
    position:relative;
    font-size: 20px;
    width: 900px;
    margin: auto;
    margin-top: 30px;
  }
  .joueurshautniveau img 
  {
    margin-top: -600px;
  }
  .entraineuretdirigeant
  {
    margin-top: 50px;
    background: linear-gradient(to right, #ffefd8, #ffffff);
    padding: 50px;
  }
  .entraineuretdirigeant h3
  {
    background-color:#1B3C65 ;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 100px;
    color: white;
    font-family: 'Quicksand';
    padding: 10px;
    width: 400px;
    text-align: center;
  }
  .entraineuretdirigeant p 
  {
    color:#172D4B; 
    font-family: 'Quicksand';
    margin: auto;
    margin-top: 50px;
    font-size: 20px;
    width: 800px;
  }
  .entraineuretdirigeant h4
  {
    margin-top: 70px;
    margin-bottom: 45px;
    margin-left: 33%;
    font-size: 30px;
    color: #1B3C65;
  }
  .entraineuretdirigeant li
  {
    color:#172D4B; 
    font-family: 'Quicksand';
    position:relative;
    font-size: 20px;
    width: 900px;
    margin: auto;
    margin-top: 30px;
  }
  .entraineuretdirigeant  img 
  {
    margin-left: 50%;
    margin-top: -600px;
  }
  .arbitres h3
  {
    background-color:#F1902F;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 300px;
    color: white;
    font-family: 'Quicksand';
    padding: 10px;
    width: 200px;
    text-align: center;
  }
  .arbitres p 
  {
    color:#172D4B; 
    font-family: 'Quicksand';
    margin: auto;
    margin-top: 50px;
    font-size: 20px;
    width: 800px;
  }
  .arbitres h4 
  {
    margin-top: 70px;
    margin-bottom: 45px;
    margin-left: 33%;
    font-size: 30px;
    color:#F1902F ;
  }
  .arbitres li {
    color:#172D4B; 
    font-family: 'Quicksand';
    position:relative;
    font-size: 20px;
    width: 900px;
    margin: auto;
    margin-top: 30px;
  }
  .arbitres img
  {
    margin-left: 10%;
    margin-top: -600px;
  }
  .pourquoiavecmoi
  {
    margin-top: 100px;
  }
  .pourquoiavecmoi h2
  {
    color: #1C6A8D;
    font-family: 'Abril Fatface';
    text-align: center;
    font-size: 45px;
  }
  .pourquoiavecmoi p 
  {
    color:#172D4B; 
    font-family: 'Quicksand';
    font-size: 20px;
    width: 900px;
    margin: auto;
    margin-top: 30px;
  }
  .flcphoto55 {
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-bottom: 60px;
  }
  .flcphoto55{
  color:#172D4B; 
    font-family: 'Quicksand';
  }
  .text-container01 {
    position: relative;
    margin-right: 45px;
    background-color: #feeed7;
    width: 750px;
    padding: 20px;
    border-radius: 25px;
    font-size: 25px;
  }
  .flcphoto55 img {
    width: 600px;
    margin-left: 250px;
  }
  .text-container55 {
    position: relative;
    margin-left: -75px;
    background-color: rgba(254, 238, 215, 0.8);
    width: 750px;
    padding: 20px;
    border-radius: 25px;
    font-size: 25px;
  }
  .flcphoto55 button {
    position: absolute;
    margin-left: 70%;
    margin-top: 2px;
    font-family:'Abril Fatface' ;
    text-align: center;
    background-color: #172d4b; 
    color: white; 
    font-size: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: none; 
    border-radius: 45px; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  .caffouillagedanslasurface01 h2
  {
    position: relative;
    margin-top: -100px;
    text-align: center;
    margin-bottom: 70px;
    color: #2a405b;
    font-size: 45px;
    font-family: 'Abril Fatface';
  }
  .packELite {
    border-radius: 25px;
    color: white;
    background-color: #f1902f;
    padding: 15px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  .packELite h5
  {
    text-align: center;
  }
  .packBoost
  {
    border-radius: 25px;
    color: white;
    background-color: #1B6A8D;
    padding: 15px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  .packBoost h5 
  {
    text-align: center;
  }
  .packSeance
  {
    border-radius: 25px;
    padding: 15px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  .ebook
  {
    margin-bottom: 200px;
  }
  .ebook h3
  {
    margin-top: 25px;
    margin-left: 20%;
    font-size: 45px;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #DD3E1A;
    width: 200px;
  }
  .formationRH05
  {
    background: linear-gradient(to right, #ffefd8, #ffffff);
  }
  .formaforma05{
    margin: auto;
    width: 50%;
  }
  .formationRH05 img 
  {
    margin-left: -200px;
    margin-top: -100px;
    width: 700px;
  }
  .formationRH05 h3 
  {
    position: relative;
    margin-top: -150px;
    margin-left: 20%;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    width: 250px;
    color: white;
    background-color:#172D4B;
    margin-bottom: 55px;
  }
  .formationRH05 h4 
  {
    font-family: 'Abril Fatface';
    text-align: center;
    color:#172D4B;
    font-size: 45px;
  }
  .formationRH05 p 
  {
    font-family: "Quicksand";
    color:#172D4B;
    text-align: center;
    margin-top: 2rem;
    font-size:25px;
  }
  .formationRH05 li
  {
    font-family: "Quicksand";
    color:#172D4B;
    margin-top: 2rem;
    font-size:25px;
  }
  .formationRH05 h5 {
    color:#172D4B;
    font-size:25px;
  }
  .formationmanagement h3
  {
    position: relative;
    margin-top: 45px;
    margin-left: 15%;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    width: 450px;
    color: white;
    margin-bottom: 55px;
    color: white;
    background-color: #F1902F;
  }
  .formationmanagement p 
  {
    font-family: "Quicksand";
    color:#172D4B; 
    margin-top: 2rem;
    font-size:25px;
  }
  .formationmanagement li
  {
    font-family: "Quicksand";
    color:#172D4B;
    margin-top: 2rem;
    font-size:25px;
  }
  
  .formationmanagement p
  {
    margin-top: 2rem;
    font-size:25px;
    font-family: "Quicksand";
    color:#172D4B;
  }
  .formationmanagement h4
  {
    font-family: "Quicksand";
    color:#172D4B;
  }
  .formationmanagement li 
  {
    margin-top: 2rem;
    font-size:25px;
    font-family: "Quicksand";
    color:#172D4B;
  }
  .formationmanagement h5 
  {
    margin-top: 2rem;
    font-size:25px;
    font-family: "Quicksand";
    color:#172D4B;
  }