{% extends 'base.html.twig' %}

{% block title %}Conditions générales de vente{% endblock %}

{%block body %}
<div class="containerMentionLegale">
<h1>Conditions Générales de Vente</h1>
<p>
<b>Préambule</b><br>
L’achat d’un bien ou d’un service à SENSATIONS COACHING constitue une acceptation implicite intégrale et sans réserve des présentes conditions générales. Il est donc important pour le client de les lire avant toute commande.
<br>
<br>
<b>ARTICLE 1 : Champ d’application</b><br>
Les présentes conditions générales d’utilisation et de vente s’appliquent à toutes les transactions réalisées avec SENSATIONS COACHING et celles notamment conclues par le biais du site Internet https://sensations-coaching.com et des différentes plateformes de réseaux sociaux.
SENSATIONS COACHING se réserve le droit de modifier à tout moment les présentes conditions générales, sans qu’il ne soit nécessaire d’informer ou d’obtenir l’accord de qui que ce soit.
Les conditions générales applicables seront celles en vigueur au moment de la livraison des produits ou services.
De fait de la nature même du réseau Internet ainsi que des éventuelles opérations de maintenance et de développement de ses sites, SENSATIONS COACHING ne peut en garantir la disponibilité, et ne peut donc pas être tenu responsable d’indisponibilité et/ou de dysfonctionnements.
L’usager utilise le site sensations-coaching.com sous sa seule et entière responsabilité. Aucune action ne pourra être engagée à l’encontre de SENSATIONS COACHING qui ne pourrait être tenu pour responsable de tout préjudice qu’il soit matériel (y compris pertes de données, de logiciels, de programmes…) ou financier.
<br>
<br>
<b>ARTICLE 2 : Public concerné et limitation d’âge</b><br>
SENSATIONS COACHING a pour vocation de proposer un éventail de produits et services aux professionnels et particuliers.
Des limitations d’âge s’appliquent :
La participation des mineurs implique un accord explicite des parents ou des tuteurs, et ne pourra se faire que sous leur surveillance et après accord explicite de SENSATIONS COACHING.
Tout inscrit à la newsletter ne remplissant pas ces critères sera immédiatement supprimé de la base de données dès que ce fait sera porté à la connaissance de SENSATIONS COACHING.
<br>
<br>
<b>ARTICLE 3 : Produits et services</b><br>
Les produits et services sont conformes à la législation française en vigueur et aucune responsabilité de SENSATIONS COACHING ne pourrait être engagée en cas de non-respect de la législation d’un autre pays de destination.
À partir du moment où les offres sont commercialisées sur le site, celles-ci sont valables dans la limite des stocks et places disponibles.
En cas d’indisponibilité, le client en sera informé par courriel et contacté afin de déterminer si la commande sera annulée ou fera l’objet d’un remplacement par un autre produit ou service.
Les photos présentes sur le site sont des « suggestions de présentation ». Ces photos sont donc non contractuelles et données à titre indicatif et de ce fait aucune réclamation liée à celles-ci ne sera recevable.
<br>
<br>
<b>ARTICLE 4 : Prix</b><br>
La structure juridique de SENSATIONS COACHING est une auto-entreprise au nom de Flavie Carette. Elle n’est pas assujettie à la TVA.
Les prix s’entendent en euros, quels que soient le pays de destination et la domiciliation géographique du client, hors frais de traitement de commande pour les produits, et pour les services, sauf mention spécifique.
Les prix peuvent être modifiés à tout moment. Toutefois, le tarif appliqué sera le prix en vigueur au moment de la commande.
Les éventuels autres droits et taxes, quels qu’ils soient (douane, importation, taxes locales ou d’État, etc.) resteront le cas échéant en intégralité à la charge du client qui déclare accepter cela sans réserve ainsi que le fait de devoir effectuer par ses propres soins, et sans aucune intervention ni implication de SENSATIONS COACHING, toutes les démarches légales nécessaires déclaratives et de paiement auprès des autorités compétentes.
<br>
<br>
<b>ARTICLE 5 : Paiement</b><br>
Dans le cadre d’un achat sur le site de SENSATIONS COACHING, le paiement est exigible immédiatement à la date de la commande, y compris pour les produits en précommande et dans le respect des échéances prévues au devis.
Dans le cas d’un paiement sécurisé en ligne par carte bancaire, la transaction sera réalisée par l’intermédiaire d’une société spécialisée qui pourra assurer que les informations transmises soient cryptées et ne puissent être lues au cours du transfert sur le réseau. Toute garantie quant à la sécurité de ce système est entièrement de la responsabilité de la société spécialisée et ne saurait être imputée à SENSATIONS COACHING.
Sauf accord spécifique ou offre spéciale d’échelonnement de paiement communiqué au préalable et/ou confirmé par écrit par SENSATIONS COACHING, l’inscription à un service et/ou la commande d’un produit sera réputée définitive à l’encaissement par SENSATIONS COACHING de l’intégralité du tarif public, ce qui en sera l’élément déclencheur de livraison. Cet encaissement devant intervenir au plus tard 15 jours avant le début effectif concernant les services. Dans le cas contraire, SENSATIONS COACHING se réserve le droit, par simple notification écrite et sans préavis ni formalité, d’annuler la dite commande, sans que cela ne donne lieu à aucun contrepartie en faveur du client.
Selon les produits et services, et en fonction des spécifications descriptives qui leur seront liées, le paiement pourra être effectué selon les moyens confirmés, acceptés et indiqués par SENSATIONS COACHING.
Outre toutes les dispositions stipulées dans le présent article, il est précisé que tout retard de paiement entraînera de plein droit:
– l’application d’un taux de pénalités de retard de 20%, exigible automatiquement le jour suivant la date de règlement prévue.
– l’application d’une pénalité pour couverture des frais de recouvrement de 40€ (sachant qu’un surplus pourrait être demandé si les frais de recouvrement réellement engagés dépassent ce montant forfaitaire).
Par ailleurs, il est précisé qu’aucun escompte ne sera accordé en cas de paiement anticipé et qu’aucun intérêt ne sera versé par SENSATIONS COACHING pour les sommes payées par le client, à quelque moment que cela soit et sous quelque forme que cela soit, notamment pour le versement d’acompte non remboursable de réservation évoqué ci-dessus.
<br>
<br>
<b>ARTICLE 6 : Livraison</b><br>
La livraison de produits est faite à l’adresse physique ou électronique que le client aura indiquée lors de la commande et est seul responsable des informations qu’il aura communiquées.
En cas d’erreur ou d’adresse pas assez explicite, dont la conséquence pourrait être une livraison erronée, aucune responsabilité de SENSATIONS COACHING ne pourra être engagée.
Les inscriptions aux services délivrés par SENSATIONS COACHING sont nominatives et non transférables sauf accord écrit de SENSATIONS COACHING qui se réserve de ce fait la possibilité de refuser l’accès à la livraison du service concerné à toute personne qui ne serait pas inscrite nominativement pour ce service.
Conformément à l’article L 138-1 du code la consommation, SENSATIONS COACHING livre le bien ou fournit le service à la date ou dans le délai indiqué au consommateur, conformément au 3° de l’article L. 111-1, sauf si les parties en ont convenu autrement.
La livraison s’entend du transfert au client de la possession ou du contrôle du bien.
En cas d’une même commande relative à des produits et/ou services dont les dates annoncées seraient différentes, c’est la date de livraison la plus lointaine qui sera prise en compte. Il est en outre entendu que le produit et/ou service sera réputé livré dès la validation de la commande dès lors qu’il s’agira d’un produit et/ou service qui nécessite un téléchargement, et pour lequel d’ailleurs les droits d’utilisation seront non cessibles et non exclusifs.
Conformément à l’article L 138-2 du code de la consommation, en cas de manquement de SENSATIONS COACHING à son obligation de livraison du bien ou de fourniture du service à la date ou à l’expiration du délai prévu au premier alinéa de l’article L. 138-1 ou, à défaut, au plus tard trente jours après la conclusion du contrat, le client peut résoudre le contrat, par lettre recommandée avec demande d’avis de réception ou par un écrit sur un autre support durable, si, après avoir enjoint, selon les mêmes modalités, SENSATIONS COACHING d’effectuer la livraison ou de fournir le service dans un délai supplémentaire raisonnable, ce dernier ne s’est pas exécuté dans ce délai.
Le contrat sera considéré comme résolu à la réception par SENSATIONS COACHING de la lettre ou de l’écrit l’informant de cette résolution, à moins que SENSATIONS COACHING ne se soit exécutée entre-temps.
Néanmoins, le client pourra immédiatement résoudre le contrat si SENSATIONS COACHING refuse de livrer le bien ou de fournir le service ou lorsqu’il n’exécute pas son obligation de livraison du bien ou de fourniture du service à la date ou à l’expiration du délai prévu au premier alinéa du même article L. 138-1 et que cette date ou ce délai constitue pour le client une condition essentielle du contrat. Cette condition essentielle résulte des circonstances qui entourent la conclusion du contrat ou d’une demande expresse du client avant la conclusion du contrat.
Conformément à l’article L 138-3 du code de la consommation, si le contrat est résilié dans les conditions prévues à l’article L. 138-2, SENSATIONS COACHING sera tenue de rembourser le client de la totalité des sommes versées, au plus tard dans les quatorze jours suivant la date à laquelle le contrat a été dénoncé. La somme versée par le client sera de plein droit majorée de 10 % si le remboursement intervient au plus tard trente jours au-delà de ce terme, de 20 % jusqu’à soixante jours et de 50 % ultérieurement.
<br>
<br>
<b>ARTICLE 7: Conditions d’annulation, de retour, de remboursement – Droit de rétractation – Garantie de satisfaction</b><br>
Conformément à l’article L121-21 du code de la consommation, le client dispose d’un délai de 14 jours calendaires à compter de la date d’achat pour un service ou de la date de réception pour un produit, pour exercer son droit de rétractation.
S’il souhaite exercer ce droit, le client devra rédiger une déclaration exprimant sans ambiguïté sa volonté de se rétracter et l’envoyer à SENSATIONS COACHING par lettre recommandée avec accusé de réception à cette adresse :
124, chemin des Pratz 74350 CERCIER – FRANCE
Le remboursement sera effectué par SENSATIONS COACHING par le même moyen de paiement que celui utilisé par le client pour effectuer son achat.
Le remboursement sera effectué par SENSATIONS COACHING dans les délais légaux prévus dans le code de la consommation.
Passé ce délai légal, les sommes dues par SENSATIONS COACHING seront automatiquement majorées aux taux légaux stipulés dans le code de la consommation.
Par ailleurs, tous types d’avantages, d’offres promotionnelles, de quelque nature qu’ils soient, qui seraient liés à l’achat d’origine pour lesquels le client ferait valoir son droit à rétractation seront automatiquement annulés.
En tout état de cause, ce droit ne pourra être exercé pour un service exécuté ou dont l’exécution a commencé.
Par ailleurs, SENSATIONS COACHING ne procédera à aucun remboursement dans les cas suivants, à quelque moment que ce soit, et pour quelque motif que ce soit:
– demande d’annulation après les 14 premiers jours qui suivent le paiement ou la livraison du produit.
– demande d’annulation en cas de promotion ultérieure à l’achat.
Certains des produits et services proposés ne sont pas soumis à ce droit de rétractation. Les articles L121-20-2 et L121-21-8 du code de la consommation écartent ou excluent notamment :
– le contenu numérique non fourni sur un support matériel dont l’exécution a commencé après accord préalable exprès du client et renoncement exprès à son droit de rétractation.
– les enregistrements audios ou vidéos ou de logiciels informatiques lorsqu’ils ont été descellés par le client.
<br>
<br>
<b>ARTICLE 8 : Protection des données personnelles</b><br>
Conformément à la Loi Informatique et Libertés N° 78-17 du 6 janvier 1978, le client dispose d’un droit d’accès, de rectification et de suppression des données personnelles qui le concerne.
Le client reconnaît avoir pris connaissance de la politique de protection des données personnelles et consent à ce que ses données soient collectées et utilisées, sachant que celles-ci seront traités de manière strictement confidentielle.
En saisissant ses informations et ses coordonnées sur le site de SENSATIONS COACHING le client reconnaît accepter recevoir des informations/publications de la part de la société par email, courrier ou téléphone, et accepter de recevoir la newsletter. Il est libre de se désinscrire à tout instant. Il suffit pour cela de cliquer sur le lien présent à la fin des emails. Ce lien est précédé de la mention “To unsubscribe or change subscriber options visit” ou “pour vous désinscrire ou changer vos options d’inscriptions, cliquez ci-dessous”.
SENSATIONS COACHING informe le client qu’il peut être effectué sur le site un suivi de la fréquentation. Pour cela, recours peut être fait à des outils tels que Google Analytics par exemple. Ces données, non nominatives, permettent d’améliorer l’expérience d’utilisation des sites Internet, et de personnaliser les sites en fonction des demandes fréquentes des utilisateurs. 
RTICLE 9 : Propriété intellectuelle
Le site internet, les produits et services de SENSATIONS COACHING, dans leur intégralité, tant dans leur présentation que dans leur contenu (dans sa totalité ou de manière séparée) direct ou indirect, quelle qu’en soit la forme, sont protégés par les lois en vigueur sur la propriété intellectuelle et/ou industrielle.
Toute reproduction, et/ou diffusion et/ou communication, et/ou représentation et/ou réutilisation, et/ou adaptation, que cela soit de manière partielle ou intégrale, sous quelque forme que ce soit, tout enregistrement, qu’il soit sous format audio et/ou vidéo, sont interdits, sauf autorisation expresse préalable de SENSATIONS COACHING, et dans le cas contraire sont donc constitutifs de contrefaçon et passible à ce titre des sanctions prévues par la loi.
<br>
<br>
<b>ARTICLE 9 : Propriété intellectuelle</b><br>
Le site internet, les produits et services de SENSATIONS COACHING, dans leur intégralité, tant dans leur présentation que dans leur contenu (dans sa totalité ou de manière séparée) direct ou indirect, quelle qu’en soit la forme, sont protégés par les lois en vigueur sur la propriété intellectuelle et/ou industrielle.
Toute reproduction, et/ou diffusion et/ou communication, et/ou représentation et/ou réutilisation, et/ou adaptation, que cela soit de manière partielle ou intégrale, sous quelque forme que ce soit, tout enregistrement, qu’il soit sous format audio et/ou vidéo, sont interdits, sauf autorisation expresse préalable de SENSATIONS COACHING, et dans le cas contraire sont donc constitutifs de contrefaçon et passible à ce titre des sanctions prévues par la loi.
<br>
<br>
<b>ARTICLE 10 : Limitations et/ou exclusions de responsabilité</b><br>
Le client et/ou participant et/ou souscripteur et/ou utilisateur déclare reconnaître et/ou exprimer et/ou accepter et /ou approuver sans réserve que :
– tout type de contenu délivré par SENSATIONS COACHING, sous quelque forme qu’il soit (idées, concepts, stratégies, conseils, etc…) ne donne lieu à aucune promesse ni garantie, de quelque nature qu’elles soient (résultats, gains, bénéfices, succès, performance, etc.) ;
– SENSATIONS COACHING, ses représentants légaux, les représentants habilités par SENSATIONS COACHING, ses partenaires, ses fournisseurs ne sont pas responsables ou porteurs d’une quelconque promesse ni garantie ;
– il a connaissance des informations relatives aux conditions d’utilisation des biens et aux conditions de déroulement des services ;
– il est donc seul responsable de son degré de participation/d’implication, de ses décisions, actions et résultats
qu’il ne cherchera d’aucune manière à rendre SENSATIONS COACHING, ses représentants légaux, ses partenaires, ses affiliés, ses fournisseurs, les personnes habilitées par SENSATIONS COACHING, responsables de son degré de participation/d’implication, de ses décisions, actions ou résultats ;
– que SENSATIONS COACHING ne serait être tenue responsable, sous aucune circonstance, de toute perte ou de tout dommage causé ou supposé causé en relation avec l’utilisation de ses conseils, produits ou services, quel qu’il soit et sous quelque forme que ce soit ;
– que les recommandations de SENSATIONS COACHING ne se substituent en aucun cas à un diagnostic posé par un médecin ni à un protocole médical prescrit. De ce fait, SENSATIONS COACHING, ses représentants légaux, ses partenaires, ses affiliés, ses fournisseurs, les personnes habilitées par SENSATIONS COACHING ne peuvent en aucun cas être tenus responsables, de quelque manière que ce soit, de dommages de quelque nature qu’ils soient.
<br>
<br>
<b>ARTICLE 11 : Affiliation et recommandations</b><br>
Au sein de ses newsletters, communications, informations et publications diverses, produits et services, SENSATIONS COACHING peut être amenée à recommander des outils, des sites internet, des produits, ou prestataires de service pouvant apporter au client un complément utile à ce qui est délivré par SENSATIONS COACHING.
Le client est informé que lorsque cela pourrait être le cas, il y a parfois un partenariat dans le cadre d’un accord commercial mis en place avec les personnes qui commercialisent ces produits ou services et que SENSATIONS COACHING peut donc être amené le cas échéant à toucher une « commission » si le client décide d’acheter ces produits ou services sur recommandation de SENSATIONS COACHING.
<br>
<br>
<b>ARTICLE 12 : Droit applicable</b><br>
Toutes les clauses figurant dans les présentes conditions générales, ainsi que toutes les opérations d’achat et de vente qui y sont visées, sont soumises au droit français.
Dans l’hypothèse où l’une de ces clauses était déclarée inapplicable, les autres clauses resteront valides.
Pour tout litige qui surviendrait à l’occasion de l’interprétation/de l’exécution des présentes, quelle qu’en soit la forme, il est fait attribution de juridiction aux tribunaux d’Annecy.
<br>
<br>
<b>ARTICLE 13 : Informations sur SENSATIONS COACHING</b><br>
Madame CARETTE Flavie
124, chemin des Pratz
74350 CERCIER

Contact : flavie.c@sensations-coaching.com
</p>
</div>
{% endblock %}
