{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
<div data-aos="fade-up">
<img src="{{ asset('asset/img/sensationlogo.png') }}" alt="logoSensation" width="200" height="65"><br>
</div>
{% endblock %}

{% block main %}
Bienvenue {{ app.user.prenom }}<br><br>
  <a href="{{ path('app_accueil') }}"><button class="text-align">Retour sur le site </button></a>

{% endblock %}
