{% extends 'base.html.twig' %}

{% block title %}Annulation de la commande{% endblock %}

{% block body %}
    <div class="container">
        <h1>Annulation de la commande</h1>
        <p>Votre commande a été annulée.</p>
        {% if prixCommande is defined %}
            <p>Montant de la commande annulée : {{ prixCommande }} EUR</p>
        {% endif %}
    </div>
{% endblock %}
